{
  "family": "tomcat",
  "containerDefinitions": [
    {
      "name": "tomcat",
      "image": "@VERSION@",
      "memory": 128,
      "portMappings": [
        {
          "containerPort": 8080,
          "hostPort": 32000,
          "protocol": "tcp"
        }
      ]
    }
  ]
}
