{
  "family": "tomcat",
  "containerDefinitions": [
    {
      "name": "tomcat",
      "image": "410829681883.dkr.ecr.us-west-2.amazonaws.com/ecr_docker_repository:latest",
      "memory": 128,
      "portMappings": [
        {
          "containerPort": 8080,
          "hostPort": 32000,
          "protocol": "tcp"
        }
      ]
    }
  ]
}
